{{!-- To fill user feed cards in homepage. Also use for sidebar? --}}

{{!-- User, streak if any --}}
{{!-- Progress bar with points. x/100 pts for the day --}}
{{!-- Task list for the day(complete or incomplete) --}}
{{!-- Time of last completion --}}

<div class="list-item"> 
  <div class="row h-2">
        <img class="mb-4" src="/assets/images/PlaceholderPFP.png" alt="user picture">
        <h5 class="mt-2">{{this.username}}</h5>
        <span class="offset-4">last task completion:<br>5/21 @ 12:22pm {{!-- {{getLastCompletionTime this.task}} --}} </span>
  </div>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Total points: {{this.total_points}}</li>
      <li>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
      </li>
    {{#each this.tasks}}
    <li class="list-group-item container">
      <div class="row">
        <h5 class="col-1">{{this.id}}</h5>
        <div class="col-8">
          <p>
            {{this.task_name}}
            {{#if this.UserTask.completed}}
              Finished
            {{else}}
              Not Finished
            {{/if}}
          </p>
        </div>
      
      <h5 class="daily col-2 align-right">+ยง X</h5>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
  