{{!-- To fill user feed cards in homepage. Also use for sidebar? --}}

{{!-- User, streak if any --}}
{{!-- Progress bar with points. x/100 pts for the day --}}
{{!-- Task list for the day(complete or incomplete) --}}
{{!-- Time of last completion --}}

<div class="list-item"> 
  <div class="row h-2">
        <img class="mb-4 col-2" src="/assets/images/PlaceholderPFP.png" alt="user picture">
        <h5 class="mt-2 col-2">{{this.username}}</h5>
<span class="offset-4">
  Last Task Completion:<br>
  {{#if this.lastCompletedTask}}
    <span class="font-weight-bold ml-5">{{formatDate this.lastCompletedTask.userTask.completion_time 'h:mm a'}}</span>
  {{else}}
    <span class="font-weight-bold">No Tasks Completed Yet</span>
  {{/if}}
</span>
  </div>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Total points: {{this.total_points}}</li>
      <li>
      <div class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{this.completionPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{this.completionPercentage}}%"></div>
      </div>
      </li>
    {{#each this.tasks}}
    <li class="list-group-item container">
      <div class="row">
      
        <div class="col-8">
          <p class="">
            {{this.task_name}}
            {{#if this.userTask.completed}}
              <span class="font-weight-bold">Finished</span> at <span class="font-weight-bold">{{formatDate this.userTask.completion_time 'h:mm a'}}</span>
                      </div>
      <h5 class="daily col-3 font-weight-bold">+ยง {{this.points}}</h5>
      </div>
            {{else}}
              <span class="font-weight-bold">Not Finished</span>
            {{/if}}
          </p>
        {{!-- </div>
      <h5 class="daily col-3">+ยง {{this.points}}</h5>
      </div> --}}
    </li>
    {{/each}}
  </ul>
</div>
  