{{!-- To fill user feed cards in homepage. Also use for sidebar? --}}

{{!-- User, streak if any --}}
{{!-- Progress bar with points. x/100 pts for the day --}}
{{!-- Task list for the day(complete or incomplete) --}}
{{!-- Time of last completion --}}

<div class="user card container w-50 mt-3">
  <div class="row card-header h-2"> 
      <img class="col-2" src="images/PlacegholderPFP.png" alt="user picture">
      <span class="col-3 align-middle">{{this.username}}</span>
      <span class="col-3 offset-4">last task completion: 5/21 @ 12:22pm {{!-- {{getLastCompletionTime this.task}} --}} </span>
  </div>
  <div class="m-2 ml-3">Total points: {{this.total_points}}</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Progress bar Placeholder</li>
    {{#each this.tasks}}
    <li class="list-item d-flex container-fluid">
      <div class="container d-block row">
        <h3>{{this.id}}</h3>
        <p>{{this.task_name}}</p>
        <p>
          {{#if this.UserTask.completed}}
            Finished
          {{else}}
            Not Finished
          {{/if}}
        </p>
      </div>
      <h1 class="daily mr-3">+ยง X</h1>
    </li>
    {{/each}}
  </ul>
</div>
